{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    {% block content %}
        <h2>Delete {{ asset.hostname }}?</h2>
        <p>Are you sure you want to delete the asset {{ asset.hostname }}?</p>
        {% if error_message %}
            <p>{{ error_message }}</p>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <span>
                <button type="submit">Yes</button>
                <a href="/assets/">No</a>
            </span>
        </form>
    {% endblock %}
</body>
</html>