{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Asset Types</title>
</head>
<body>
    {% block content %}
        <div class="flex flex-col w-full p-4 gap-4">
            <h2 class="title-page">Asset Types</h2>
            <div class="flex gap-4 items-center">
                <a href="/assets/" class="flex gap-2 items-center">
                    <i data-lucide="undo-2" class="size-4"></i>
                    Assets
                </a>
                <a href="new/" class="btn-primary">
                    <i data-lucide="plus"></i>
                    New Type
                </a>
            </div>
            <table>
                <tr>
                    <th>ID</th>
                    <th class="w-full">Name</th>
                    <th>Actions</th>
                </tr>
                {% for type in object_list %}
                    <tr>
                        <td>{{ type.pk }}</td>
                        <td>{{ type.name }}</td>
                        <td class="actions-container">
                                <a href="{{ type.pk }}/edit/">
                                    <i data-lucide="pen"></i>
                                </a>
                                <a href="{{ type.pk }}/delete/">
                                    <i data-lucide="trash"></i>
                                </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endblock %}
</body>
</html>